@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;800&family=Jockey+One&family=Overlock:ital,wght@0,400;0,700;0,900;1,400&display=swap');

:root {
    --pink: #F83586;
    --bkgd-darker-gray: #D9D9D9;
    --bkgd-light-gray: #F5F5F5;
    
    --light-gray: #464646;
    --lighter-gray: #626262;
}
html {
    font-size: 62.5%;
}

/*text styles*/
body{
    font-family: "Overlock", sans-serif;
    font-size: 1.8rem;
}
main b{
    font-weight: bold;
}
h1, h2{
    font-family: "Jockey One", sans-serif;
    text-transform: uppercase;
}
nav, a[href="index.html"], header dl, button {
    font-family: "Fira Sans", sans-serif;
}
nav a, #landing main a, .case-study nav ~ a {
    text-decoration: none;
}
header a:hover, .case-study a:hover, .unspecified main a:hover {
    text-decoration: underline;
    text-underline-offset: 0.2em;
}
#landing header nav ~ div a{
    text-decoration: 1px underline;
    text-decoration-color: var(--pink);
    text-underline-offset: 0.2em;
}
#landing header a:hover { /*landing header*/
    background-color: rgba(225,225,225,0.2);
}
nav a, .case-study a[href="index.html"], .case-study #proj-gallery h2, footer {
    font-size: 1.6rem;
    font-weight: 300;
    color: var(--lighter-gray);
    font-family: "Fira Sans", sans-serif;
}
nav li {
    list-style: none;
}
.case-study main a { /*all links in the main content*/
    color: var(--pink);
}
.case-study a:hover { /*nav for case study*/
    color: var(--pink);
}
h1 {
    text-transform: none;
    font-size: 4rem;
}
h1 .subtitle {
    font-size: 2rem;
    font-family: "Overlock";
    text-transform: none;
    font-weight: normal;
    display: block;
}
dl {
    font-size: 1.2rem;
}
dt {
    font-size: 1rem;
    font-weight: 800;
}
h2 {
    font-size: 2.6rem;
    margin-bottom: 4rem;
}
.pink-text {
    color: var(--pink);
}
.italic {
    font-style: italic;
}
/*button styling*/
.see-full {
    margin-bottom: 1em;
    margin-left: 0.5em;
    color: #636363;
    padding: 0.2em 0.6em;
    border: 1px solid #636363;
    border-radius: 10px;
}
.see-full:hover, button:hover {
    background-color: white;
    color: var(--pink);
    border: 1px solid var(--pink);
}
/*containers*/
.bkgd-container {
    background-color: var(--bkgd-light-gray);
}
body > .bkgd-container:first-of-type,  main > .bkgd-container:last-child, .white {
    background-color: white;
}
.pink {
    color: white;
    font-weight: 700;
    background-color: var(--pink);
}
.gray {
    background-color: var(--bkgd-darker-gray);
}
h2.rule {
    padding-top: 0.5em;
    border-top: solid 1px black;
}
.spotlight{
    font-size: 2.6rem;
}
.pink .spotlight {
    font-weight: 900;
}
.spotlight .de-emp {
    font-size: 1.8rem;
}
.list { /*spotlight list*/
    list-style: none;
    padding: 0;
    font-weight: bold;
}
.list li {
    margin-top: 2em;
}
h3 {
    margin: 0;
}
h3, .h3-spotlight, .de-emp{
    font-weight: 700;
    font-size: 2.6rem;
}
.de-emp {
    font-size: 2rem;
    display: block;
}
main .subtitle {
    color: #7B7B7B;
}
.hide-vis { /*hide visually as its needed for accessibility*/
    width: 2px;
    height: 2px;
    overflow: hidden;
    position: absolute;
}
/*layout*/
body, .bkgd-container {
    width: 100%;
    margin: 0;
}
.bkgd-container > * {
    margin: 0 6rem;
}
/*case study header layout*/
nav ul {
    display: flex;
    justify-content: flex-end;
    margin: 0;
}
nav a {
    padding: 2rem 2.5rem;
}
.case-study header {
    max-width: 120rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 6rem auto 55% 1fr;
    padding-bottom: 6rem;
    column-gap: 1em;
}
.case-study header nav {
    grid-column: 1/3;
    align-self: center;
}
.case-study header img {
    grid-column: 2/3;
    grid-row: 2/5;
}
.case-study header > div:first-of-type {
    align-self: center;
}
.case-study header > div:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 1rem;
}
.case-study header dl:first-of-type dt{
    display: none;
}
dl, dt, dd {
    margin: 0;
}
.case-study header > div:nth-of-type(2) dl:nth-of-type(2) {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
body.case-study > .bkgd-container:first-of-type {
    display: grid;
    justify-items: center;
}
/**/
.layout-2col, .layout-halves {
    display: grid;
    grid-template-columns: fit-content(40%) 60%;
    column-gap: 6rem;
}
.layout-2col ~ .layout-2col, .layout-2col ~ .layout-1col, .layout-1col ~ .layout-2col, .layout-1col ~ .layout-1col, .gallery ~ .layout-1col, .gallery ~ .layout-2col {
    margin-top: 12rem;
}
.layout-halves {
    grid-template-columns: 1fr 1fr;
}
.layout-halves > div:nth-child(2):last-child { /*selects the 2nd if there's only 2 elements*/
    align-self: end;
    margin-bottom: 0.9em;
}
.half-half-display {
    display: grid;
    grid-template-columns: 50% 50%;
}
.see-full ~ img {
    display: none;
}
.descript {
    margin-bottom: 12rem;
}
.pink .descript, .gray .descript {
    margin-bottom: 6rem;
}
.pink b {
    font-weight: 900;
}
p:first-child {
    margin-top: 0;
}
.bkgd-container {
    padding: 8rem 0;
}
.bkgd-container.pink, .bkgd-container.gray {
    padding: 4rem 0;
}
body > .bkgd-container:first-of-type {
    padding-top: 0;
}
.halfwidth-layout {
    width: 50%;
}
/**/
.layout-1col img {
    width: 100%;
}
.layout-2col img {
    max-width: 100%;
}
/**/
.spacing-onethird {
    grid-template-columns: 1fr 2fr;
    grid-row-gap: 1rem;
}
.copy-knockdown > div:first-of-type {
    margin-top: 3rem;
}
.spacing-onethird img {
    margin-bottom: 2rem;
}
/*image sizing*/
.shrink img, video {
    max-width: 100%;
}
video.shrink {
    max-width: 800px;
}
/*gallery*/
.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1.6rem;
}
.gallery figure {
    margin: 0;
}
.gallery div figure ~ figure {
    margin-top: 2rem;
}
.gallery img {
    max-width: 100%;
}
#step .gallery { /*custom sizing for step ui project page*/
    grid-template-columns: 35% 46% 1fr;
    column-gap: 0.5rem;
}
#step .gallery figure ~ figure {
    margin-top: 1rem;
}
figcaption {
    font-style: italic;
    margin-bottom: 0.5rem;
}

/*landing*/
#landing > .bkgd-container:first-of-type { /*landing block*/
    background-color: var(--pink);
}
#landing, #landing header a {
    color: white;
}
#landing h1 {
    /*font-size: 7rem;*/ /*for bigger sizes*/
    font-size: 5rem;
    line-height: 1.1;
    margin-top: 0;
    margin-bottom: 1rem;
}
@media (max-width:36rem){ /*adjust the nav bar to show everything at the smallest size*/
    #landing header {
        margin: 0 1em; 
    }
    nav li a {
        padding: 1em 2.5vw;
    }
    #logo-spot {
        margin-left: 0;
    }
}

#landing header p {
    margin: 0;
}
#landing #landing-socials {
    margin-top: 4.5rem;
    font-size: 1.6rem;
}
#landing #landing-socials a {
    border-bottom: 1px solid white;
}
#landing header, .unspecified header {
    display: grid;
    grid-template-rows: 6rem auto;
}
#landing nav, .unspecified nav {
    align-self: center;
}
#logo-spot {
    margin-right: auto;
}
#logo-spot a {
    font-weight: 400;
    font-size: 1.8rem;
    padding-left: 40px;
}
/*landing layout*/
#landing header > div {
    margin: 5em auto 0;
    padding-left: 1em;
    width: 19em;
    display: flex;
    flex-direction: column-reverse;
}
#landing figure {
    width: 7em;
    margin: 0;
}
#landing [src$=".svg"] {
    width: 100%;
}
@media (min-width: 40em){
    #landing header > div {
        margin: 7em auto 2em;
        flex-direction: row;
        width: 29em;
    }
    #landing figure {
        width: 18em;
        margin-top: 0.5em;
        margin-left: 0.8em;
    }
}
@media (min-width: 60em) {
    #landing header h1 {
        margin-top: 1em;
    }
    #landing header > div {
        min-width: 45em;
        margin: 8em auto 3em;
    }
    #landing figure {
        width: 15em;
        margin: 1em;
        margin-top: 2em;
    }
}
@media (min-width: 88em) {
    #landing header > div {
        width: 62em;
        margin: 10em auto 4em;
    }
    #landing header > div p {
        font-size: 1.2em;
    }
    #landing figure {
        width: 16em;
        margin: 0;
        margin-left: 2em;
        margin-top: 1em;
    }
}
/*unspecified page styles (about page and contact page)*/
.unspecified h1 {
    margin: 3em 0 1em;
}
.unspecified main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.unspecified main > section {
    display: grid;
    grid-template-columns: 6em auto;
    width: 40em;
    margin-bottom: 2em;
    column-gap: 0.5em;
}
.unspecified main > section > *:nth-child(2) {
    margin-top: 0.5em;
}
.unspecified main > section > * {
    grid-column: 2/3;
    margin: 0;
}
.unspecified main > section p ~ p {
    margin-top: 1em;
}
.unspecified main > section > h2{
    grid-column: 1/2;
}
.unspecified ul {
    list-style: none;
    padding-left: 0;
}
.unspecified li {
    display: flex;
    align-items: center;
    column-gap: 0.2em;
}
.unspecified main a {
    margin: 0;
    padding: 0.2em;
    color: var(--pink);
}
.unspecified img {
    width: 1.3em;
}
/*button in unspecified section. For copying email*/
.unspecified button, .unspecified button:hover, #landing button[value] {
    margin-left: 0.5ch;
    width: 5em;
    height: 1.6em;
    border-radius: 2px;
    border-width: 1px;
    border-style: solid;
    color: var(--pink);
    border-color: var(--pink);
    background-color: white;
}
.unspecified button:hover, button[value]:hover {
    background: rgba(248,53,134,0.1);
}
#landing button[value] {
    background-color: #F83586;
    color: white;
    border-color: white;
}
#landing button[value]:hover {
    background-color: rgba(255, 255, 255, 0.4);
}
/*project gallery*/
#proj-gallery { /*project gallery container*/
    display: grid;
    margin: 0 auto 2em;
    width: 80%;
    grid-gap: 1em;
}
#proj-gallery > section {
    margin-bottom: 2em;
}
#proj-gallery img {
    width: 100%;
}
#proj-gallery h3 {
    font-size: 1.5em;
    padding-top: 0.4em;
    margin-left: 1rem;
}
#proj-gallery p {
    margin: 0.2em 0 2em 1rem;
}
#proj-gallery a:hover h3 {
    color: black;
}
#proj-gallery a > div { /*container for image*/
    overflow: hidden;
    width: 100%;
    height: 100%;
}
#proj-gallery a {
    color: var(--light-gray);
    display: flex;
    flex-direction: column;
    height: 100%;
    border-bottom: 1px solid var(--lighter-gray);
}
#proj-gallery a:hover {
    color: black;
    background: linear-gradient(180deg, rgba(255,255,255,1) 89%, rgba(0,0,0,0.2) 100%);
}
#proj-gallery a:hover img {
    transform: translate(0,-0.8em) scale(1.1);
    transition: transform 0.6s ease-out;
}
.case-study .bkgd-container:last-child { /*ie the space under the projects in the project gallery*/
    padding-bottom: 0;
}
/*project gallery in landing*/
#landing #proj-gallery {
    grid-template-columns: repeat(3,1fr);
}
/*project gallery header for case study pages*/
.case-study #proj-gallery h2 {
    grid-column: 1/4;
    margin-bottom: 0;
    margin-top: 4rem;
    
    font-family: fira sans;
    text-transform: none;
}
.case-study #proj-gallery a {
    text-decoration: none;
}

/*monochrome pink project covers*/
/*#landing a > div {
    background: var(--pink);
}
#landing main img {
    filter: grayscale(100%) contrast(200%);
    mix-blend-mode: screen;
}
#landing a:hover img {
    filter: grayscale(0%) contrast(1);
    mix-blend-mode: normal;
}
*/


/*lightbox feature*/ /*adapted lightbox from web dev simplified*/
#lightbox {
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,.75);
    display: none;
}
#lightbox.active {
    display: flex;
    justify-content: center;
    align-items: center; /*for short images*/
}
#lightbox img {
    max-width: 90%;
    max-height: 90%; /*for short images*/
}
/*scrollable lightbox image*/
#lightbox.active.long {
    overflow-y: scroll;
    align-items: flex-start;
}
#lightbox.active.long img {
    max-height: none;
}
/*footer*/
footer {
    padding: 0 3rem 1rem;
}
.unspecified footer {
    position: absolute;
    bottom: 2em;
}
/*landing page media query for proj gallery*/
@media (max-width: 60em) {
    .case-study #proj-gallery {
        grid-template-columns: 1fr 1fr;
        width: 90%;
    }  
    .case-study #proj-gallery h2 {
        grid-column: 1/3;
    }
}
@media (max-width: 70em) {
    #landing #proj-gallery {
        grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width: 35em) {
    .case-study #proj-gallery, #landing #proj-gallery {
        grid-template-columns: 1fr;
    }  
    .case-study #proj-gallery h2 {
        grid-column: 1/2;
    }
}

/*project page media query*/
@media (max-width: 78em) {
    .case-study header {
        grid-template-columns: 50% 50%;
        width: 85%;
    }
    .case-study header img {
        width: 100%;
    }
}
@media (max-width: 56em) {
    .case-study header {
        grid-template-columns: 1fr;
        grid-template-rows: 6rem auto auto auto;
        width: 80%;
        padding-bottom: 0;
    }
    .case-study header > a {
        grid-row: 2/3;
        padding-bottom: 1em;
    }
    .case-study header img {
        max-width: 50rem;
        grid-row: 3/4;
    }
    .case-study header img, .case-study header div, .case-study header > a {
        grid-column: 1/2;
    }
    .case-study header > div:nth-of-type(2) dl:nth-of-type(2) > div {
        margin-top: 1em;
    }
    
     
    .unspecified main > section {
        display: flex;
        flex-direction: column;
        width: 100%;
        column-gap: 0.5em;
    } 
}
@media (max-width: 64em) {
    .layout-2col, .half-half-display, .layout-halves {
        grid-template-columns: 1fr;
    }
    .layout-2col img {
        margin-top: 1em;
    }
    .see-full {
        width: 98%;
        height: 3em;
        margin: 0 auto 2em;
        display: block;
    }
    .halfwidth-layout {
        width: 100%;
    }
}
